html, body, div, span, h1, h2, h3, h4, h5, h6, p,a, em, font, img,
strong, ol, ul, li {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}

body {
    font-family: 'Times New Roman', georgia, helvetica, arial, sans-serif;	
	background: #F4F5F6;
	line-height: 1.5em;   
    text-align: center;
    behavior: url(default/default/js/csshover3.htc);  
}

ul {
	list-style: none;
}

hr {
    color: gray;
}

h2 {
	font-weight: normal;
}

a:link,
a:visited {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

a:hover {
    text-decoration: none;   
	cursor: pointer;
}

a:active {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

/********** HTML5 tags ***********/
header, nav, section, figure, hgroup, article, footer {
	display: block;
}