@import url("reset.css");
@import url("nav.css");
@import url("global-tabs.css");
@import url("news-box.css");
@import url("breadcum.css");

/********** BASIC SETTINGS **********/
.left {
    float: left;
}

.right {
    float: right;
}
.clear {
    clear: both;
}

.link {
    text-decoration: underline;
    color: blue;
}

.italic {
    font-style: italic;
}

.active {
	background: url(../images/bg_nav_active.jpg) repeat-x;
    border-bottom: none;
}

.read-all,
.author {
	text-align: right;
}

.c-time {
    color:#8A0000;
}

.c-date {
    color:#848484;
}

.date {
	font-weight: bold;
}

.note {
    font-style: italic;
    padding-top: 10px;
}

.red {
    color: red;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.stock-time {
    text-align: right;
    margin-right: 10px;
    font-size: 15px;
}

.header-panel {
    border-bottom: 4px solid #3f84b4;
    background: #fff;
}

#wrapper {
    width: 965px;
    margin: 0 auto;
    text-align: center;   	
}

/********** HEADER **********/
header {
	width: 100%;
	overflow: hidden;	
}

/***** BANNER *****/
header #banner {
	height: 90px;			
	padding-top: 5px;
	padding-bottom: 10px; 
}



/****** NAV-USER *****/
header #nav-user {
	text-align: left;	
    overflow: hidden;   
    padding: 5px 0px 5px 10px;
}

header #nav-user .left {
	display: inline;
}

header #nav-user .left #btnSearch {
    background: url(../images/btn-search.gif) no-repeat;
    cursor: pointer;
    width: 40px;
}

header #nav-user .right{
	display: inline;	
	padding-right: 10px;
}

/***** MAIN CONTENT *****/
#mainContent {
    padding: 10px 0;
    overflow: hidden;
    background: #F4F5F6;
}



#mainContent #content {
    float: left;
    width: 545px;
    text-align: left;      
}

#mainContent aside {
    float: right;
    width: 409px;
    text-align: left;       
}

/***** CONTENT ******/
#mainContent #content #top-news {
    padding: 10px;
    border: 1px solid #A3A3A3;    
    background: #fff;    
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
}

#mainContent #content #top-news .right{
    width: 310px; 
}

#mainContent #content #top-news .right h2 {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #444444;
}

#mainContent #content #top-news .right p a {  
    color:#5F5F5F;
    font-family:'Times New Roman';
    font-size:11pt;
    font-weight:bold;
}

#mainContent #content #top-3-news {
    padding: 10px;
    margin-top: 10px;
    color: #000000;
    font: bold 13px Arial;    
}

#mainContent #content #top-3-news article {
    width: 160px;
    float: left; 
    margin-right: 10px;  
}

#mainContent #content #expert {
    padding-top: 10px;    
}

#mainContent #content #expert .header-panel h2 {
    text-align: center;
    font: bold 16px Arial;    
    color: white;
    background: #3f84b4;
    width: 180px;    
	margin: 0 auto;
}

#mainContent #content #expert article {
    background: #fff;
    padding-left: 10px;
	padding-right: 10px;
    padding-bottom: 10px;    
}

#mainContent #content #expert article h2 {
    color:#000055;
    font-family:Arial,Helvetica,sans-serif;
    font-size:16px;
    font-weight:bold;
    padding: 2px 0;
}

#mainContent #content #expert article p {
    width: 390px;
    padding: 5px 0;
}

#mainContent #content #news-company {
    padding-top: 5px;   
    background: #fff; 
    margin-top: 10px;        
} 

#mainContent #content #news-company a {
    color: #004F8B;
	font: bold 12px Arial; 
}

#mainContent #content #news-company h2 {
    color: #4687c1;
    font: bold 16px Arial;  
    padding: 1px;
    border-bottom: 2px solid green;            
}

#mainContent #content #news-company hgroup {
    border: 1px ridge #4687c1;
    color: #004F8B;
    font: bold 12px Arial; 
    padding: 7px 5px 0 20px;    
}

#mainContent #content #news-company hgroup ul {
    list-style-image: url(../images/bullet.png);
}

#mainContent #content #news-company hgroup ul li {
    padding-bottom: 7px;
}

#mainContent #content #news-company hgroup ul li span {
    color: #4A4A4A;
    font: 10px Arial;
}

/***** STOCK STATICS *****/
aside .info1 {
    width: 405px;
    border: 1px solid #A3A3A3;           
    margin-bottom: 10px;        
    float: left;
    border-radius: 0px 0px 7px 7px; 
    -moz-border-radius: 0px 0px 7px 7px;
}

aside .info1 hgroup {
     padding-left: 10px;
     width: 394px;
     padding-top: 5px;
}

aside #hot-news article ul li ul li {
     list-style-image: url(../images/bullet.png)
}

aside #statics-news .s-box {
      font: 15px Arial; 
       margin-top: 10px;
}    

aside #statics-news .left {
    width: 150px;
}

aside #statics-news .right {
    width: 100px;
    padding-right: 141px;
} 

aside #statics-news hgroup {
    background: #fff;
}

aside #statics-news #tab2-statics {
    display: inline-block;
}

aside #statics-news #tab2-statics table {
    border: 1px solid #A3A3A3;  
    margin: 10px 0 10px 20px;
}

aside #statics-news #tab2-statics table caption{
    border-top: 1px solid #A3A3A3;
    border-left: 1px solid #A3A3A3;
    border-right: 1px solid #A3A3A3;
    background: url(../images/widget-bg-wss.gif) top left no-repeat;
}
/***** GOLD & MONEY *****/
aside .info1 h2 {
    width: 100%;
    height: 22px;
    background: url(../images/bg_sidebar.jpg);
    color: white;
    font-size: 12px;
    text-align: center;
    line-height: 22px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: bold;
    padding: 3px 0;
}

aside .info2 {
    width: 195px;
    border: 1px solid #A3A3A3;
    padding: 5px 5px 5px 0;      
    margin: 10px 0;
    float: left;
    background: #fff;
    border-radius: 7px 7px 7px 7px; 
    -moz-border-radius: 7px 7px 7px 7px;  
}

aside .info2 .statics {
    padding-left: 24px;
    margin-left: 13px;
    color: #8A0000;
    font:bold 12px arial;
}

aside .info2 table {
    font:bold 11px arial;
    text-align: center;    
    margin: 0 auto;
}

aside .info2 table td {
    border: 1px solid #A3A3A3;
}

aside #gold-info {
    margin-right: 5px;
}

aside #gold-info #gold {
    background: url(../images/gold.gif) top left no-repeat;
    
}

aside #gold-info .right {
    color: #8A0000;
    font:bold 10px arial;
    text-align: right;
    padding-right: 8px;
    padding-bottom: 2px;
}

aside #money-info #money {
    background: url(../images/circle-chart.gif) top left no-repeat;
    padding-left: 24px;
    margin-left: 13px;
    margin-bottom: 5px;
    color: #8A0000;
    font:bold 12px arial;
}

aside #money-info hgroup {
    height: 57px;
    overflow: auto;
}

/********** CATEGORY *********/
.news-inportant {
    border: 1px solid #A3A3A3;   
    margin-top: 10px;
    padding: 10px;	
    background: #fff;
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
}

.news-inportant img {
    margin-top:4px;
    width:210px;
    border:1px solid #A5A5A5; 
    margin-right:10px;	
}

.news-inportant hgroup a {
   color: #4a87c1;
   font:bold 18px tahoma; 
}

.news-inportant hgroup label {    
    font:11px arial;
}
.news-inportant hgroup p {
    margin-bottom:5px;
    margin-top:0;
    padding:0;
}

.news-inportant hgroup p a {  
    color:#5F5F5F;
    font-family:'Times New Roman';
    font-size:11pt;
    font-weight:bold;
}

.news-box-cat {
   margin:10px 0;
   padding:0 10px;  
}

.news-box-cat img {
    border:1px solid #A5A5A5;
    height:100px;
    margin-right:8px;
    margin-top:2px;
}

.news-box-cat hgroup a {
   color:#000000;
   font:bold 13px arial; 
}

.news-box-cat hgroup label {
    font:11px arial;    
}
.news-box-cat hgroup p {
    margin-bottom:5px;
    margin-top:0;
    padding:0;
}

.news-box-cat hgroup p a {  
    color:#5F5F5F;
    font-family:'Times New Roman';
    font-size:11pt;
    font-weight:bold;
}

.news-other p {
    background:url("../images/folder-header.gif") repeat-x;
    height: 19px;    
    width:478px;   
}

.news-other p span {   
    color:#4a87c1;
    font:bold 14px arial;
}

.news-other ul {
    margin:0;
    padding-left:40px;
    position:relative;
}

.news-other ul li {
    list-style-image: url("../images/blue-square.gif");    
    position:relative;
}

.news-other ul li a {
    font: 12px arial;
}

.news-other ul li a label {
  color: #909090;  
}

.news-other .continue {
    margin-bottom: 10px;
    padding: 8px 29px;
}

.news-other .continue a {
    color: #4a87c1;
    font:bold 13px arial;
}

/********** DETAILS *********/
.detail {
    margin: 10px 0;
    font:11.8pt Times New Roman;
    width:100%;
}

.detail h2 {
    font-family:'Times New Roman';
    font-size:14pt;
    font-weight:bold;
    margin-top:0;
    padding-bottom: 10px;
}

.detail .detail-summarize {
    color:#5F5F5F;
    font-family:'Times New Roman';
    font-size:11pt;
    font-weight:bold; 
    padding-bottom: 10px;
}

.detail .detail-main-content p{
    color:#000000;
    font-family:'Times New Roman';
    font-size:11.8pt;
    margin-bottom: 5px;
}

.detail .detail-main-content span {
    display: block;
}
/********** FOOTER **********/
footer {
    margin-top: 10px;    
    height: 50px;
    padding: 5px 20px; 
    text-align: left;
    background: url(../images/logo.png) 98% 60%  no-repeat #3f84b4;
    color: #fff;    
    font-size: 11px;
    font-family: Tahoma,Arial,Helvetica,sans-serif;
    letter-spacing: 1px;
}

footer a {
    color: #fff;
}