*html header #banner {			
	padding-top: 0px;
	padding-bottom: 0px; 
}

*html #mainContent {
    padding: 20px 0;
}

*html #mainContent #content {
    width: 545x;
}

*html #mainContent aside {
    width: 409px;
}

*html #mainContent aside #stock-statics {
    width: 210px;
} 

*html #mainContent aside #gold-info table,
*html #mainContent aside #money-info table {
    margin-left: 10px;
} 

*html #mainContent aside .info1 {
     width: 195px;
}

*html aside #hot-news {
    height: 300px;    
}

*html aside #hot-news hgroup {
      height: 300px;    
}

*html #mainContent #content #expert .header-panel h2 {
    margin-left: 150px;
}

*html .header-panel {
    margin-top: 10px;
}

*html #mainContent #content #top-3-news {
    padding: 5px 5px 5px 10px;
}

*html #mainContent #content .news-box .newcontent {
    clear: none;
}

*html aside #statics-news table {
    width: 350px;
}