.breadcum {
    background:url("../images/folder-header.gif") repeat-x scroll center top #F5F5F7;           
    font:12px arial;
    height:22px;
    margin-bottom:2px;
    width:500px;
}

.breadcum a.cat {    
    padding: 0 10px;
    color:#4a87c1;
    font:bold 20px arial;      
    background: #F4F5F6; 
}
.breadcum hgroup {       
    width: 100%;    
    height:11px;
    padding-top:4px;
    padding-bottom: 4px;   
    color:#8C8C8C;
}

.breadcum hgroup a {
    color: green;
    font:bold 13px arial;
    height:11px;
    margin-left: 20px;
}

