@import url("reset.css");
@import url("global-tabs.css");

/********** BASIC SETTINGS **********/
.hide, .hide1 {display: none;}

.click {
	cursor: pointer;
	text-decoration: none;
}

.click a {
	cursor: pointer;
	text-decoration: none;
}

.left {
    float: left;
}

.center {
	text-align: center;
	margin-top: 100px;
}

.center2 {
	text-align: center;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.active {
	background: url(../images/bg_nav_active.jpg) repeat-x;
}

.read-all {
	text-align: right;
}

.date {
	font-weight: bold;
}

.sub-txt {
	color: #993300;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
}

.sub-head {
	color: #5D5D5D;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
}

.sub-data {
	background: url("../images/theme_green.gif");
	color: #008000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
}

.black {
	color: black !important; 
}

.Btn {
  	color: #009507;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.not_exists {
    color: #5D5D5D;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;	
}


.title {
  	color: #5D5D5D;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;	
}

.company {
	color: #5353FF;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;	
}

.pink {
	color: #CE00CE;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
}

.select {
	border-collapse: collapse;
    color: #01540E;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    width: 63px;
}

.money {
    color: #01520D;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;	
}

.sum {
    color: #1A1AFF;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;	
}

.rebuild-text-rule {
	font-size: 14px;
	color: rgb(128, 0, 0);
}

.giatran {
   	color: Green;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;	
}

.giathamchieu {
    color: #FEA304;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;	
}

.giasan {
    color: Red;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;	
}

.input_trading {
    border: 1px solid #018715;
    border-collapse: collapse;
    color: #01540E;
    font-family: Arial;
    font-size: 10pt;
    font-weight: normal;
    padding: 2px;	
}

.input_rebuild_acc {
	color: rgb(1, 84, 14); 
	border: 1px solid rgb(1, 135, 21); 
	font-family: Arial; 
	font-size: 10pt; 
	font-weight: normal; 
	width: 200px; 
	border-collapse: collapse; 
	padding: 2px;
}

.normal {
	font-size: 11px;
}

.stock-own {
  	color: #001E7E;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;	
}

a.stock_ajax {
	cursor: pointer;	
}

.protflolio_list {
    height: 130px;
    margin-top: 20px;
    text-align: left;
    width: 100%;	
}

.maroon {
	color: Maroon;
}

img.ui-datepicker-trigger {
	margin-left: 5px;
	cursor: pointer;
}

.red {
    color: red;
}

.green {
    color: green;
}

.blue {
    color: blue !important;
}

.s_blue {
	color: #244CCF !important;
}

.disable {
	background: #f1f1f1;	
}

.ok {
	color: green;
}

.error {
	color: red;
}

.error2 {
	color: Red; visibility: hidden;
}

.error3 {
	color: Red; 
	font-family: Arial; 
	font-size: 12px; 
	font-weight: normal;
}

.success {
	text-align: center; 
	margin-top: 50px; 
	font-weight: bold;
}


.mess_ajax {
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	margin-top: 10px;
	margin-bottom: 20px;
	color: yellowGreen;	
}

.warning {
	background: url("../images/alert.gif") no-repeat 35% bottom #fceabb;	
	font-weight: bold;
	height:30px; 
	line-height: 30px; 
	border-bottom: 1px solid #FF9900; 	 
	padding-left: 276px; 		
}

.warning2 {
	background: url("../images/note.png") no-repeat 3% 50% #92C24A;	
	font-weight: bold;
	height:30px; 
	line-height: 30px; 
	width: 557px;
	margin-top: 47px;
	padding-left: 57px;
	color: white;
}

.stick {
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	margin-top: 5px;
	margin-bottom: 20px;
	color: green;
}

.stock-time {
    text-align: right;
    margin-right: 10px;
    font-size: 15px;
}

.panel-header {
    width: 100%;
    height: 22px;
    background: url("../images/bg_nav.jpg") repeat-x;
    color: #F3E4C2;
    font-size: 14px;
    text-align: center;
    line-height: 22px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 2px 0;
    font-family: Arial;
}

.panel-content-data {
    overflow: auto;    
}

#wrapper {
    width: 965px;
    margin: 0 auto;
    text-align: center;
   	background: white;
}

/********** HEADER **********/
header {
	width: 100%;
	overflow: hidden;	
}

/***** BANNER *****/
header #banner {
	height: 90px;		
	background: url("../images/banner.gif") 95% 50% no-repeat;
	padding-top: 5px;
	padding-bottom: 10px;
    text-align: left;
}

/***** NAV *****/
header nav{
	height: 40px;	
    background: url(../images/bg_nav.jpg) repeat-x;
}	

header nav ul li {
	float: left;
	line-height: 40px;
}

header nav ul li.first {
	padding-left: 20px;	
}

header nav ul li.active:hover {
	background: url(../images/bg_nav_active.jpg) repeat-x;
}

header nav ul li.last {
	padding-right: 30px;
}

header nav ul li:hover {
	background:	#50a287;
}

header nav ul li a {	
	padding: 0 20px;
    color: #F3E4C2 !important;    
}

header nav ul li a:hover {
	text-decoration: none;
}

header nav ul li a.first-child {
    padding-left: 0;
}

header nav ul li a.last-child {
    border: none;   
}

/***** STOCK HORZITIONAL *****/
header #stock-horzintal {
	text-align: left;				
    background: #F3E4C2;  	         
}

header #stock-horzintal h2 {
    float: left;   
    width: 70px;
    padding-left: 20px;
    background: #F3E4C2;   
	font-size: 15px;
	color: navy;
	
}

header #stock-horzintal p {
    float: right; 
    width: 849px;         
    font-size: 15px; 
}

header #stock-horzintal p marquee{
    margin-right: 15px;
}

header #stock-horzintal p img {
    margin-left: 10px;
}

/****** NAV-USER *****/
header #nav-user {
	text-align: left;
	padding-left: 20px;	
    overflow: hidden;	
}

header #nav-user .left {
	display: inline;
}

header #nav-user .right{
	display: inline;
	padding-right: 10px;
}

/***** MAIN CONTENT *****/
#mainContent {
    padding: 10px 0;
    overflow: hidden;
}

#mainContent #content {
    float: left;
    width: 710px;
    text-align: left;
    padding-left: 20px;	      
}

#mainContent aside {
    float: right;
    width: 210px;
    text-align: left;       
    padding-right: 10px;
}

/***** INDEX *****/
#content #stock-index {
    border: 1px solid #A3A3A3;   
    width: 400px;
    float: left;  
    overflow: hidden;     
    height: 390px;        
    border-radius: 0px 0px 7px 7px;  
    border-radius: 0px 0px 7px 7px;
    -moz-border-radius: 0px 0px 7px 7px;
}

#content #stock-index hgroup {
    padding: 10px;    
}

#content #stock-index hgroup img {
    margin-top: 24px;
}

/***** STOCK-VERTICAL *****/
#content #stock-vertical {
    border: 1px solid #A3A3A3;   
    width: 300px;    
    float: right;
    text-align: center;
}

#content #stock-vertical hgroup {
    height: 309px;   
}

#content #stock-vertical hgroup table tbody img {
    margin-right: 5px;
}

#content #stock-vertical table thead tr{
    background-color: #F3E4C2;
}

/***** STOCK INFO *****/
#content #stock-info {
    width: 710px; 
    padding: 3px 0;    
    margin-top: 10px; 
}

#content #news-info {
    width: 710px; 
    height: 208px;
    margin-top: 10px; 
    padding: 3px 0;      
}

#content #rule-info  {
    width: 710px; 
    margin-bottom: 10px;
}

#content #rule-info article ol li{
    margin-left: 40px;
}

#content #rule-info article ol li ul li {
   list-style: circle; 
}

#content #rule-info article ul li,
#content #rule-info article ul li ul li{
    list-style: square;
    margin-left: 20px;
}

#content #news-info ul.block {
	margin: 10px;
	font: 15px Arial;	
}

#content #news-info ul.block li ul {
	list-style-image: url("../images/bullet.gif");
	list-style-type: square; 
}

#content #news-info .read-all {
	font: 11px Arial;
	color: #676767;
	margin-bottom: 5px;
	margin-right: 5px;
}

#content #stock-info article p {
    text-align: right;  
    padding-bottom: 3px;
    font-size: 15px;
    color: #993300;
    font-weight: bold;
}

#content #stock-info article table thead {
    background: url(../images/top_center.gif) repeat-x;
    text-align: center;
    color: #8D6B2B;
    font-family:Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: bold;
}

/***** SEARCH *****/
aside #search {
    width: 189px;
    border: 1px solid #A3A3A3;
    padding: 5px;
}

aside #search span {
    margin-left: 5px;
    border: 1px solid #A3A3A3;
    padding: 2px;
}

/***** STOCK STATICS *****/
aside #stock-statics ,
aside #theme-select {
    width: 200px;
    border: 1px solid #A3A3A3;    
    margin: 10px 0;   
    padding-bottom: 10px;
    border-radius: 0px 0px 7px 7px; 
    -moz-border-radius: 0px 0px 7px 7px;
}

aside #stock-statics h2,
aside #theme-select h2 {
    width: 100%;
    height: 22px;
    background: url(../images/bg_sidebar.jpg);
    color: white;
    font-size: 12px;
    text-align: center;
    line-height: 22px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: bold;
    padding: 3px 0;
}

aside #theme-select .theme-icon {
	padding-left: 15px;
}

aside #theme-select img {
	cursor: pointer;
}

.statics {
    padding-left: 10px;   
    cursor: pointer;
}

.statics img {
    margin-right:10px;
}

aside #stock-statics li {
    margin-left: 50px;     
}

#stock-statics #stock-online {
    background: url(../images/stock-online.jpg) top left no-repeat;    
    padding-left: 30px;
    margin-left: 5px;
}

#stock-statics #stock-tool {
    background: url(../images/stock-tool.jpg) top left no-repeat;    
    padding-left: 30px;
    margin-left: 5px;
}

/***** GOLD *****/
aside #gold-info
 {
    width: 195px;
    border: 1px solid #A3A3A3;
    padding: 5px 5px 5px 0;         
    margin: 10px 0;
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
}

aside #gold-info #gold {
    background: url(../images/gold.gif) top left no-repeat;
    padding-left: 24px;
    margin-left: 13px;
    color: #8A0000;
    font:bold 12px arial;
}

aside #gold-info .right {
    color: #8A0000;
    font:bold 10px arial;
    text-align: right;
    padding-right: 8px;
    padding-bottom: 2px;
}

aside #gold-info table {
    font:bold 11px arial;
    text-align: center;    
    margin: 0 auto;
}

aside #gold-info table td {
    border: 1px solid #A3A3A3;
}

/***** Money *****/
aside #money-info {
    width: 195px;
    border: 1px solid #A3A3A3;
    padding: 5px 5px 5px 0;
    border-radius: 7px 7px 7px 7px;     
    -moz-border-radius: 7px 7px 7px 7px;
}

aside #money-info #money {
    background: url(../images/circle-chart.gif) top left no-repeat;
    padding-left: 24px;
    margin-left: 13px;
    margin-bottom: 5px;
    color: #8A0000;
    font:bold 12px arial;
}

aside #money-info hgroup {
    height: 50px;
    overflow: auto;
}

aside #money-info table {
    font:bold 11px arial;
    text-align: center;    
    margin: 0 auto;
}

aside #money-info table td {
    border: 1px solid #A3A3A3;
}

/********** USER STATICS **********/
#user-statics {
    text-align: left;  
    border: 1px solid #A3A3A3;
    padding: 10px 20px;        
    width: 890px;
    margin-left: 20px;  
    color: #197A34;
    font-weight: bold;
    font-size: 13px;  
    border-radius: 7px 7px 7px 7px;	   
    -moz-border-radius: 7px 7px 7px 7px;
}

#user-statics #user-statics-header {
    color: #993300; 
    font-size: 17px;   
}

#user-statics .indent {
    padding-left: 20px;
    color: #5D5D5D;
    font-family: Arial;
    font-weight: normal;
}

/********** STATICS BOX **********/
#content .statics-box {
    width: 690px;
    padding: 10px;
    border: 1px solid #A3A3A3;    
    margin-bottom: 10px;
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
}

.statics-box3 table tbody tr.first 
 {
	color: #5D5D5D;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
}

#content .statics-box h2,
.statics-box2 h2,
.statics-box3 h2
{
    color:Maroon;    
    font: bold 16px Arial;     
    text-align: center;
}

#content .statics-box p,
.statics-box2 p,
.statics-box3 p
{
    text-align: right;
    color:#993300;
    font: bold 12px Arial;    
}

#content .statics-box table thead,
.statics-box2 table thead,
.statics-box3 table thead.first
{
    background: url(../images/top_center.gif) repeat-x;
    text-align: center;
    color: #8D6B2B;
    font-family:Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: bold;
}

#content .statics-box table tbody tr,
.statics-box table tbody tr,
.statics-box2 table tbody tr
 {
    color:#008000;  
}

/********** FOOTER **********/
footer {
    margin-top: 10px;    
    height: 50px;
    padding: 5px 20px; 
    text-align: left;
    background: url("../images/bg_nav.jpg") repeat;
    color: #fff;    
    font-size: 11px;
    font-family: Tahoma,Arial,Helvetica,sans-serif;
    letter-spacing: 1px;
}

footer a {
    color: #fff;
}

/***** FORM *****/
.group {
	margin-left: -36px;
	padding-left: 50px;
	width: 547px;	
}

.g-red {
	border-color: #8A0000;	
}

.g-red legend {
	color: #8A0000;	
}

.g-blue {
	border-color: #549EB7;	
}

.g-blue legend {
	color: #549EB7;	
}

.g-green {
	border-color: green;	
}

.g-green legend {
	color: green;	
}

.form label {
	display: block;
}
/***** LOGIN FORM *****/
.form {
	width: 300px;
	margin-left: 200px;
}
/***** REGISTER FORM *****/
#loginText {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: Green;
}

#registerForm input {
	margin-right: 10px;
}

/***** INFORMATION TAB *****/
.infor-tab {	 
	vertical-align: middle; 	 
	text-align: center;
}

.infor-tab .item {
	margin-right: 20px;
	color: #279230;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    float: left;
}

.infor-tab .item a:visited,
.infor-tab .item a:link {
	color: #279230;
}

/***** EXCHANGE TAB *****/
.menu_style {
    background-image: url("../images/bg_nav.jpg");
    background-repeat: repeat-x;
    border: 3px double #007500;
    border-collapse: collapse;
    color: #FFFFFF;
    height: 28px;
    padding: 0 5px;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

.menu_style a {
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
}
.menu_style a:link {
    color: #FFFFFF;    
}
.menu_style a:hover {
    color: #FFA74F;
    text-decoration: none;
}
.menu_style a:active {
    color: #FFFFFF;    
}

/***** TRADING TABLE *****/
.trading_table {
    background-color: #FFFFFF;
    border: 1px solid #007500;
    border-collapse: collapse;
    padding: 3px;
    vertical-align: middle;
    width: 100%;
}

.trade_header {
    background-image: url("../images/trade_header_bg.gif");
    background-repeat: repeat-x;
    height: 20px;
    padding: 0 3px;
    text-align: left;
    line-height: normal;
}

.trade_header span {
 	color: #006FDD;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;	
}

.adv_top_left {
    background-image: url("../images/table/adv_top_left.gif");
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 5px;
}

.adv_top_center {
    background-image: url("../images/table/adv_top.gif");
    background-position: center bottom;
    background-repeat: repeat-x;
    height: 5px;
}

.adv_top_right {
    background-image: url("../images/table/adv_top_right.gif");
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 5px;
}

.adv_bottom_left {
    background-image: url("../images/table/adv_bottom_left.gif");
    background-repeat: no-repeat;
    height: 5px;
}

.adv_bottom_center {
    background-image: url("../images/table/adv_bottom.gif");
    background-repeat: repeat-x;
    height: 5px;
}

.adv_bottom_right {
    background-image: url("../images/table/adv_bottom_right.gif");
    background-repeat: no-repeat;
    height: 5px;
}

.adv_left {
    background-image: url("../images/table/adv_left.gif");
    background-repeat: repeat-y;
    width: 5px;
}

.adv_right {
    background-image: url("../images/table/adv_right.gif");
    background-repeat: repeat-y;
    width: 5px;
}

/***** PORTFOLIO TABLE *****/
.trade_content {
    padding: 0 3px;
    vertical-align: top;
    line-height: normal;
}

.header_td_20 {
    background-image: url("../images/table/top_center_40.gif");
    color: #8D6B2B;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: bold;
    height: 20px;
    text-align: center;
    vertical-align: middle;
}

.cell_item {
    border-left: 1px solid #B5CDEC;
    border-right: 1px solid #B5CDEC;
    padding-left: 3px;
    padding-right: 3px;
    vertical-align: middle;    
}

.header_td_bottom_20 {
    background-image: url("../images/table/top_bottom_20.gif");
    color: #2755D2;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: bold;
    height: 20px;
    text-align: center;
    vertical-align: middle;
}

.text_grid_item_2 {
    background: url("../images/table/theme_green.gif") repeat fixed center top transparent;
    color: #C46200;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    height: 20px;
    border-bottom: 1px solid black;
}

.text_grid_Alternate_item {
    color: #C46200;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    height: 20px;
    border-bottom: 1px solid black;
}

.text_grid_item_2 .cell_item,
.text_grid_Alternate_item .cell_item {
	border-bottom: 1px solid #B5CDEC;
}

/***** HOT STOCK *****/
.hot_stock_table {
	margin: 0 auto;
	display: inline-table;
}

.hot_stock_table thead {
	background: #47B759;
   	color: #F3E4C2;
   	font-family: Arial;
   	font-size: 14px;
   	font-weight: bold;
   	height: 22px;
   	line-height: 22px;
   	padding: 2px 0;
   	text-align: left;
   	text-transform: uppercase;
   	width: 100%;	
}

#hotStock thead,
#hotStock tbody {
	text-align: center;
}

/***** TOP STOCK *****/
.top_stock_table {
	display: inline-table;
	margin-bottom: 5px;	
	font-size: 15px;
	text-align: right;
}

.top_stock_table tr.top {
	background: #47B759;
   	color: #F3E4C2;
   	font-family: Arial;
   	font-size: 14px;
   	font-weight: bold;
   	height: 22px;
   	line-height: 22px;
   	padding: 2px 0;
   	text-align: left;
   	text-transform: uppercase;
   	width: 100%;	
}

.top_stock_table .stock_with_popup {
	text-align: left;
}

.top_stock_table .stock_with_popup a {
	color: #004458;
	font-weight: bold;
}

/***** REPORT *****/
#report .even td { 
	background:#fff url(../images/table/row_bkg.png) repeat-x scroll center left; cursor:pointer;
}

#report .arrow { 
	background:transparent url(../images/table/expand.gif) no-repeat 7% 55%; 	 	 	
	padding-left: 14px;
}

#report .up { 
	background:transparent url(../images/table/collapse.gif) no-repeat 7% 55%;
}
      

/***** SEARCH PRICE RESULT *****/
#search_price_ajax {
	margin-top: 35px;
}
#searchPriceResult {
	margin-top: 10px;
	
}

#searchPriceResult caption {
	background: url("../images/bg_nav.jpg") repeat-x;
	font-size: 16px;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    color: #fff;
}

#searchPriceResult thead {
	font-weight: bold;
	text-align: center;
}

#searchPriceResult tbody {
	text-align: center;
}
        
/***** MARKET STATICS *****/
#marketStatics {
	text-align: center;
}

#marketStatics thead {
	background: #26B34D;
	color: #fff;
}

/***** POP UP  *****/
.jquerybubblepopup table {   
    border-collapse: separate;	
}

.popup p {
	color: #004458;
 	font-size: 11px;
    font-weight: bold;
    font-family: Arial,Helvetica,sans-serif;
    border-bottom: 1px solid #B0BEC7;
    background: none repeat scroll 0 0 #F1F5F6;
    margin-bottom: 5px;    
}

.popup table {
	display: inline;	
	font-size: 11px;
	font-weight: bold;		
    font-family: Arial,Helvetica,sans-serif;    
}

.popup .popup-data
{
	color: #333333;	
}

.popup .popup-data td {
	padding: 0 2px;
}

.popup .popup_btn {
	color: #004458;	
}

.popup .popup_btn td img {
	padding: 0 10px;	
}	