<config>
    <routes>  
        <shortcutone  type="Zend_Controller_Router_Route">
            <route>tintuc</route>
            <defaults>
            	<module>news</module>
                <controller>index</controller>
                <action>index</action>
            </defaults>          
        </shortcutone>     
        <shortcuttwo  type="Zend_Controller_Router_Route">
            <route>tintuc/:aliasP/:aliasS/:alias/</route>
            <defaults>
            	<module>news</module>
                <controller>index</controller>
                <action>detail</action>
            </defaults>
            <reqs aliasP="(.*)"></reqs>
            <reqs aliasS="(.*)"></reqs>
            <reqs alias="(.*)"></reqs>
        </shortcuttwo>
        <shortcutthree  type="Zend_Controller_Router_Route">
            <route>tintuc/:aliasP/:alias/</route>
            <defaults>
            	<module>news</module>
                <controller>index</controller>
                <action>detail</action>
            </defaults>
            <reqs aliasP="(.*)"></reqs>          
            <reqs alias="(.*)"></reqs>
        </shortcutthree>
        <shortcutfour  type="Zend_Controller_Router_Route">
            <route>tintuc/chuyenmuc/:aliasP/</route>
            <defaults>
            	<module>news</module>
                <controller>index</controller>
                <action>category</action>
            </defaults>
            <reqs aliasP="(.*)"></reqs>                    
        </shortcutfour>
        <shortcutfive  type="Zend_Controller_Router_Route">
            <route>tintuc/chuyenmuc/:aliasP/:aliasS/</route>
            <defaults>
            	<module>news</module>
                <controller>index</controller>
                <action>category</action>
            </defaults>
            <reqs aliasP="(.*)"></reqs> 
            <reqs aliasS="(.*)"></reqs>                     
        </shortcutfive>
        <shortcutsix  type="Zend_Controller_Router_Route">
            <route>tintuc/chuyenmuc/:aliasP/page/:page/</route>
            <defaults>
            	<module>news</module>
                <controller>index</controller>
                <action>category</action>
            </defaults>
            <reqs aliasP="(.*)"></reqs> 
            <reqs page="/d+"></reqs>                     
        </shortcutsix>
        <shortcutseven  type="Zend_Controller_Router_Route">
            <route>tintuc/chuyenmuc/:aliasP/:aliasS/page/:page/</route>
            <defaults>
            	<module>news</module>
                <controller>index</controller>
                <action>category</action>
            </defaults>
            <reqs aliasP="(.*)"></reqs> 
            <reqs aliasS="(.*)"></reqs> 
            <reqs page="/d+"></reqs>                     
        </shortcutseven>
    </routes>
</config>
