*html header #stock-horzintal h2 {
    width: 90px;
    padding-top: 5px;
}

*html header #stock-horzintal p {
    width: 873px;
    margin-top: 8px;
}

*html #mainContent {
    padding: 0;
}

*html #mainContent #content {
    width: 730px;
}

*html #content #stock-index {
	height: 385px;
}

*html #mainContent aside {
    width: 215px;
}

*html #mainContent aside #search {
    width: 210px;
} 

*html #mainContent aside #stock-statics {
    width: 210px;
} 

*html #mainContent aside #gold-info table,
*html #mainContent aside #money-info table {
    margin-left: 10px;
} 

*html #user-statics {    
     width: 920px;
     margin-left: -5px;
     margin-top: 10px;
}

*html #content #stock-info table {
    width: 670px;
}

*html #content .box-first {
    margin-top: 0px;
}

*html .form {
    width: 300px;   
}

*html .form label,
*html .form input,
{
	margin-left: 20px;
}

*html .form input#login {
	margin-bottom: 10px;
}

*html .group {    
    padding-bottom: 15px;
}

*html .top_stock_table {
	display: inline;	
}

*html .hot_stock_table tbody tr td {	
	padding: 5px 0;
}

*html #searchPriceResult {
	margin-top: 47px;
}