ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px; /*--Set height of tabs--*/
	border-bottom: 1px solid #A3A3A3;
	border-left: 1px solid #A3A3A3;
	width: 100%;        
}

ul.tabs li{
	float: left;
	margin: 0;
	padding: 0;
	height: 31px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 31px; /*--Vertically aligns the text within the tab--*/
	border: 1px solid #A3A3A3;
	border-left: none;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	position: relative;
	background: #f1f1f1;    
}

ul.tabs li a{
	text-decoration: none;
	color: black;
	display: block;
	font-size: 17px;
	padding: 0 20px;
	border: 1px solid #A3A3A3; /*--Gives the bevel look with a 1px white border inside the list item--*/
	outline: none;    
    font-weight: bold;
}

ul.tabs li a:hover {	
    background: #D7DBE4;
    text-decoration: none;    
}

html ul.tabs li.active,
html ul.tabs li.active a,
html ul.tabs li.active a:hover{ /*--Makes sure that the active tab does not listen to the hover properties--*/
	background: #3f84b4;
    color: #F3E4C2;
    font-weight: bold;
    font-size: 17px;
}

.tab_container {
	border-top: none;
	overflow: hidden;
	clear: both;
	float: left; width: 100%;
	background: #fff; 
    border-radius: 0px 1px 5px 5px;
    -moz-border-radius: 0px 1px 5px 5px;
}

.tab_content{
	padding: 5px 20px 20px 20px;
	font-size: 1.2em;
	overflow: auto;        
}