.news-box {
    margin-top: 10px;     
}

.news-box ul.tab li{
    background: #fff;
}

.news-box ul.tab a {
    font: bold 12px Arial;
    background: #fff;
}

.news-box ul.tab .first {
    padding-left: 10px;
    border-left: 1px solid #A3A3A3;      
}

.news-box ul.tab .first a {
    color: #4687C1; 
    font: bold 15px Arial;
}

.news-box ul.tab li {
    float: left;
    padding: 0 5px;    
    border-top: 1px solid #A3A3A3;    
    border-right: 1px solid #A3A3A3;    
}

.news-box .newcontent {
    padding: 10px;
    border: 1px solid #A3A3A3;
    clear: both;
    background: #fff;
    border-radius: 0px 0px 7px 7px;
    -moz-border-radius: 0px 0px 7px 7px;
}

.news-box .main{
    width: 300px;
}

.news-box .right {
    width: 203px;
}
 
.news-box .main img {
    border: 1px solid #A5A5A5;
    height: 100px;
    margin-right: 8px;
    margin-bottom: 2px;
}

.news-box .main hgroup h2 {
    color: #000000;
    font:bold 13px arial;
}

.news-box .main hgroup p {
    padding-top: 4px;
    font: 12px arial;
}

.news-box .right ul.list {
    list-style-image: url(../images/black-square.gif);
    font: 13px Arial;
}